@import 'assets';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.container {
    max-width: 1440px;
    // background-color: aquamarine;
    margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                                    MENU                                    */
/* -------------------------------------------------------------------------- */
#menu {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: white;

    #menu_content {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #logo {
            h3 {
                font-size: 50.5px;
                font-weight: 700;
                line-height: 80.8px;

                a {
                    color: $primary-color;
                }
            }
        }

        nav {
            ul {
                list-style-type: none;
                display: flex;
                gap: 32px;
                a {
                    color: $black-75;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25.6px;
                    transition: .3s;

                    &:hover {
                        color: $black-100;
                    }
                }
            }
        }
    }
}


/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */
/* -------------------------------------------------------------------------- */
#hero_section {
    width: 100%;
    // height: calc(100vh - 80px); // view height - menu width | if menu is sticky
    height: 100vh; // view height | if menu is fixed
    position: relative;
    display: flex;
    overflow: hidden;

    #hero_content {
        display: flex;
        justify-content: center;
        gap: 80px;
        position: relative;
        z-index: 99;

        #avatar {
            width: 320px;
            height: 320px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 0 15px $black-25;

            img {
                width: inherit;
                height: inherit;
                border-radius: inherit;
                object-fit: contain;
            }
        }

        #intro {
            width: auto;
            height: 320px;
            background-color: white;
            border-radius: 24px;
            padding: 16px 40px 32px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 0 15px $black-25;
            position: relative;

            h2 {
                color: $black-25;
                font-size: 67.5px;
                font-weight: 700;
                line-height: 108px;

                span {
                    color: $black-100;
                }
            }

            #see_my_works {
                a {
                    padding: 8px 16px;
                    text-decoration: none;
                    color: white;
                    background-color: $primary-color;
                    border-radius: 8px;
                }
            }

            #highlight_decoration {
                position: absolute;
                left: -40px;
                top: -128px;
            }

            #arrow_decoration {
                position: absolute;
                top: -208px;
                right: 0;
            }
        }
    }

    #hero_wave {
        position: absolute;
        width: 100%;
        bottom: 0px;
        z-index: -1;

        animation-name: moving_wave;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        -webkit-transition: all 1.3s ease;
           -moz-transition: all 1.3s ease;
             -o-transition: all 1.3s ease;
                transition: all 1.3s ease;
        animation-direction: alternate;

        img {
            width: 100%;
            display: block;
            position: absolute;
            bottom: -40px;
        }
    }

    @keyframes moving_wave {
        0% {
            bottom: -40px;
        }
        50% {
            bottom: 0;
        }
        100% {
            bottom: -40px;
        }
    }
}


/* -------------------------------------------------------------------------- */
/*                                  ABOUT ME                                  */
/* -------------------------------------------------------------------------- */
#about_me {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    gap: 32px;

    h3 {
        font-size: 50.5px;
        font-weight: 700;
        line-height: 80.8px;
    }

    p {
        max-width: 50%;
        text-align: center;
    }
}

#tech_stack {
    background-color: $primary-color;

    #tech_stack_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // justify-content: space-around;
        gap: 48px;
        padding: 40px 0;

        .tech_item {
            p {
                text-align: center;
                color: white;
            }
        }
    }
}


/* -------------------------------------------------------------------------- */
/*                                  PROJECTS                                  */
/* -------------------------------------------------------------------------- */
#project {
    #project_content {
        padding: 96px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 50.5px;
            font-weight: 700;
            line-height: 80.8px;
            margin: 56px 0 80px 0;
        }
        #projects_list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 96px;

            .projects {
                display: flex;
                gap: 32px;

                h4 {
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 60.8px;
                }

                .about_project {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    max-width: 560px;
                    padding: 24px 40px;

                    .project_actions {
                        display: flex;
                        gap: 28px;

                        a {
                            padding: 8px 16px;
                            text-decoration: none;
                            border-radius: 8px;
                            color: $primary-color;
                            border: 2px solid $primary-color;

                            &:first-child {
                                background-color: $primary-color;
                                color: white;
                            }
                        }
                    }
                }
                
                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }

        }
    }
}


/* -------------------------------------------------------------------------- */
/*                                 CONTACT ME                                 */
/* -------------------------------------------------------------------------- */
#contact {
    padding: 96px 0 192px 0;
    #contact_content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 50.5px;
            font-weight: 700;
            line-height: 80.8px;
        }

        #contacts_list {
            display: flex;
            align-items: center;
            gap: 80px;

            .contacts {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                align-items: center;

                div {
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    padding: 16px;
                    border: 2px solid $primary-color;

                    #location_icon {
                        width: 38px;
                        height: 38px;
                    }

                    #email_location {
                        width: 34px;
                        height: 34px;
                    }

                    #linkedin_icon {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}


/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

#footer {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 32px 0;
}