@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white;
}

html {
    font-size: $fontSize;
}

body {
    width: 100%;
    background-color: $baseColor;
    display: flex;
    justify-content: center;
}

#app {
    // @include fitScreenSize();
    // @include allWaysCenter();
    background-color: $baseColor;
    width: 1320px;
    max-width: 1320px;
}

// 1.25 typography ratio
h1 {
    font-size: 3.815rem;
    line-height: 3.815rem * $lineHeightRatio;
    font-weight: 700;
}

h2 {
    font-size: 3.052rem;
    line-height: 3.052rem * $lineHeightRatio;
    font-weight: 700;
}

h3 {
    font-size: 2.441rem;
    line-height: 2.441rem * $lineHeightRatio;
    font-weight: 700;
}

h4 {
    font-size: 1.953rem;
    line-height: 1.953rem * $lineHeightRatio;
    font-weight: 700;
}

h5 {
    font-size: 1.563rem;
    line-height: 1.563rem * $lineHeightRatio;
    font-weight: 700;
}

h6 {
    font-size: 1.25rem;
    line-height: 1.25rem * $lineHeightRatio;
    font-weight: 700;
}

p {
    font-size: 1rem;
    line-height: 1rem * $lineHeightRatio;
    font-weight: 400;
}